@page "/login"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager NavigationManager

<PageTitle>Log In</PageTitle>

<input @bind=_username type="text" @onkeyup="Enter"/>
<button @onclick="LogIn">Log In</button>
<button @onclick="LogOut">Log Out</button>

<AuthorizeView>
    <Authorized>
        Welcome, @User.FindFirstValue("name")!
    </Authorized>
    <NotAuthorized>
        Please login.
        @if (FailedLogin != null && FailedLogin.Value)
        {
            <p>Authentication failed, please try again.</p>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    [SupplyParameterFromQuery(Name = "FailedLogin")]
    private bool? FailedLogin { get; set; }

    private ClaimsPrincipal? User { get; set; }

    private string? _username;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState != null) User = (await AuthenticationState).User;

        await base.OnInitializedAsync();
    }

    private void LogIn()
    {
        if (_username is null)
            return;

        NavigationManager.NavigateTo($"/api/login?username={Uri.EscapeDataString(_username)}", forceLoad: true);
    }

    private void LogOut()
    {
        if (User != null && User.FindFirstValue("name") is null)
            return;

        NavigationManager.NavigateTo($"/api/logout", forceLoad: true);
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (User != null && User.FindFirstValue("name") is null)
            {
                LogIn();
            }
            else
            {
                LogOut();
            }
        }
    }
}
